In [1]:
#!pip install bertopic
#!pip install openpyxl

In [129]:
from pandas import read_excel
data = read_excel("sanatized_data.xlsx",sheet_name = 'sanatized_text')
data

,Unnamed: 0,tweet_id,original_tweets,company_name,sanitized_text_without_url,grams_to_text
0,3,1057836978954256385,@sasha_feather @hypatiadotca Thank you so much...,Google,@sasha_feather @hypatiadotca thank reminder! w...,@sasha_feather @hypatiadotca thank reminder! w...
1,4,1057837349290287104,Text (1/2):\n1. An end to Forced Arbitration i...,Google,text (1/2): 1. end forced_arbitration cases ha...,text (1/2): 1. end forced_arbitration cases ha...
2,6,1057838702330822656,"@hypatiadotca @sasha_feather Thatâ€™s awesome, w...",Google,"@hypatiadotca @sasha_feather thatâ€™s awesome, w...","@hypatiadotca @sasha_feather thatâ€™s awesome, w..."
3,20,1057996752735870976,Google employees at the company's U.K. headqua...,Google,employees company's u.k. headquarters staging ...,employees company's u.k. headquarters staging ...
4,33,1058016551796989952,PHOTOS: Worldwide #GoogleWalkout over sexual h...,Google,photos: worldwide #googlewalkout sexual_harass...,photos: worldwide #googlewalkout sexual_harass...
...,...,...,...,...,...,...
938,3130,1465360089947287560,"""The coworker who drugged &amp; raped me, was ...",Apple,"""the coworker drugged raped me, constantly yel...","""the coworker drugged raped me, constantly yel..."
939,3131,1465714221820399618,"""The heartache I had to deal with, constantly ...",Apple,"""the heartache deal with, constantly needing p...","""the heartache deal with, constantly needing p..."
940,3132,1466075237624303616,"""We were told to stop being dramatic and to no...",Apple,"""we told stop dramatic emotional...there endle...","""we told stop dramatic emotional...there endle..."
941,3133,1466440154420240388,"""I [am] scared to speak with an attorney becau...",Apple,"""i [am] scared speak attorney happen job....as...","""i [am] scared speak attorney happen job....as..."
942,3134,1466459696907403270,Apple's hourly workforce says the company has ...,Apple,apple's hourly workforce says company largely ...,apple's hourly workforce says company largely ...

In [130]:
data.head()

,Unnamed: 0,tweet_id,original_tweets,company_name,sanitized_text_without_url,grams_to_text
0,3,1057836978954256385,@sasha_feather @hypatiadotca Thank you so much...,Google,@sasha_feather @hypatiadotca thank reminder! w...,@sasha_feather @hypatiadotca thank reminder! w...
1,4,1057837349290287104,Text (1/2):\n1. An end to Forced Arbitration i...,Google,text (1/2): 1. end forced_arbitration cases ha...,text (1/2): 1. end forced_arbitration cases ha...
2,6,1057838702330822656,"@hypatiadotca @sasha_feather Thatâ€™s awesome, w...",Google,"@hypatiadotca @sasha_feather thatâ€™s awesome, w...","@hypatiadotca @sasha_feather thatâ€™s awesome, w..."
3,20,1057996752735870976,Google employees at the company's U.K. headqua...,Google,employees company's u.k. headquarters staging ...,employees company's u.k. headquarters staging ...
4,33,1058016551796989952,PHOTOS: Worldwide #GoogleWalkout over sexual h...,Google,photos: worldwide #googlewalkout sexual_harass...,photos: worldwide #googlewalkout sexual_harass...

In [131]:
import re
#data['grams_to_text'] = data['grams_to_text'].apply(lambda row:  re.sub("@[A-Za-z0-9_]+","", row), 1)
#data['sanitized_text_without_url'] = data['sanitized_text_without_url'].apply(lambda row:  re.sub("@[A-Za-z0-9_]+","", row), 1)
#Removing url and refernces 
data['original_tweets'] = data['original_tweets'].apply(lambda row:  re.sub("@[A-Za-z0-9_]+","", row), 1)
#data['original_tweets'] = data['original_tweets'].apply(lambda row:  re.sub("#[A-Za-z0-9_]+","", row), 1)
data['original_tweets'] = data['original_tweets'].apply(lambda row:  re.sub(r"http\S+", "", row), 1)

In [132]:
data.head()

,Unnamed: 0,tweet_id,original_tweets,company_name,sanitized_text_without_url,grams_to_text
0,3,1057836978954256385,Thank you so much for the reminder! Weâ€™re on...,Google,@sasha_feather @hypatiadotca thank reminder! w...,@sasha_feather @hypatiadotca thank reminder! w...
1,4,1057837349290287104,Text (1/2):\n1. An end to Forced Arbitration i...,Google,text (1/2): 1. end forced_arbitration cases ha...,text (1/2): 1. end forced_arbitration cases ha...
2,6,1057838702330822656,"Thatâ€™s awesome, weâ€™ll use that feature in th...",Google,"@hypatiadotca @sasha_feather thatâ€™s awesome, w...","@hypatiadotca @sasha_feather thatâ€™s awesome, w..."
3,20,1057996752735870976,Google employees at the company's U.K. headqua...,Google,employees company's u.k. headquarters staging ...,employees company's u.k. headquarters staging ...
4,33,1058016551796989952,PHOTOS: Worldwide #GoogleWalkout over sexual h...,Google,photos: worldwide #googlewalkout sexual_harass...,photos: worldwide #googlewalkout sexual_harass...

In [133]:
from bertopic import BERTopic
topic_model = BERTopic(embedding_model="all-MiniLM-L6-v2",nr_topics="auto")

In [134]:
docs = data['original_tweets'].values.tolist()
topics, probs = topic_model.fit_transform(docs)

In [135]:
new_topics = topic_model.reduce_outliers(docs, topics, strategy="embeddings")

In [136]:
topic_model.update_topics(docs, topics=new_topics)

In [137]:
"""
Note that in the above data frame, topic -1 denotes the topic consisting of outlier documents which are typically ignored due to terms having a relatively high prevalence 
across the whole corpus and thus, low specificity toward any cohesive theme or topic.
"""
topic_model.get_topic_info()

    Topic  Count                                               Name
0       0    103                             0_google_and_to_sexual
1       1     97            1_ice_notechforice_githubdropice_github
2       2     80                            2_google_ai_research_dr
3       3     73                    3_68_drew_drawalinetableau_line
4       4     70                     4_appletoo_stories_digest_live
5       5     64  5_climatestrike_global_amznclimate_fridaysforf...
6       6     51  6_arbitration_forced_endforcedarbitration_fairact
7       7     58                            7_climate_amazon_the_to
8       8     40                         8_amazon_workers_firing_to
9       9     30                     9_zero_emissions_carbon_amazon
10     10     27                             10_re_you_looking_seen
11     11     89      11_workers_amazon_techsolidarity_amazonstrike
12     12     23              12_communities_color_pollution_amazon
13     13     20                              13_vote_off_time_paid
14     14     27                           14_oil_gas_big_companies
15     15     15                     15_picket_cross_instacart_line
16     16     22           16_11at11climatestrike_week_talked_https
17     17     28                            17_crisis_the_speak_our
18     18     12                              18_we_dms_us_together
19     19     14                                 19_agm_we_will_the

In [115]:
topic_model.get_topic(1) 
##You can manually merge topics that u think are similar
## https://maartengr.github.io/BERTopic/getting_started/topicreduction/topicreduction.html

[('ice', 0.09258019684952207),
 ('notechforice', 0.08932387558731802),
 ('githubdropice', 0.0880300474461387),
 ('github', 0.048852841364143765),
 ('contract', 0.04179691682101817),
 ('this', 0.0370595626726335),
 ('is', 0.03678369666664721),
 ('and', 0.036083221182893026),
 ('to', 0.035619296701151576),
 ('with', 0.034735063129863304)]

In [116]:
topic_model.get_document_info(docs)

,Document,Topic,Name,Top_n_words,Probability,Representative_document
0,Thank you so much for the reminder! Weâ€™re on...,0,0_to_the_amazon_and,to - the - amazon - and - we - climate - in - ...,1.000000,False
1,Text (1/2):\n1. An end to Forced Arbitration i...,5,5_arbitration_forced_endforcedarbitration_fairact,arbitration - forced - endforcedarbitration - ...,1.000000,False
2,"Thatâ€™s awesome, weâ€™ll use that feature in th...",0,0_to_the_amazon_and,to - the - amazon - and - we - climate - in - ...,1.000000,False
3,Google employees at the company's U.K. headqua...,11,11_googlewalkout_google_to_the,googlewalkout - google - to - the - and - hara...,0.916368,False
4,PHOTOS: Worldwide #GoogleWalkout over sexual h...,11,11_googlewalkout_google_to_the,googlewalkout - google - to - the - and - hara...,0.000000,False
...,...,...,...,...,...,...
938,"""The coworker who drugged &amp; raped me, was ...",3,3_appletoo_stories_digest_live,appletoo - stories - digest - live - my - on -...,0.872058,False
939,"""The heartache I had to deal with, constantly ...",3,3_appletoo_stories_digest_live,appletoo - stories - digest - live - my - on -...,0.766013,False
940,"""We were told to stop being dramatic and to no...",3,3_appletoo_stories_digest_live,appletoo - stories - digest - live - my - on -...,1.000000,False
941,"""I [am] scared to speak with an attorney becau...",3,3_appletoo_stories_digest_live,appletoo - stories - digest - live - my - on -...,0.872058,False
942,Apple's hourly workforce says the company has ...,3,3_appletoo_stories_digest_live,appletoo - stories - digest - live - my - on -...,0.872058,False

In [117]:
#topic_model.visualize_topics()

In [118]:
#topic_model.visualize_barchart()

In [140]:
import pprint 
pprint.pprint(topic_model.get_representative_docs(topic=15))

['"There\'s a clear and longstanding tension between the pursuit of justice '
 'and the profitability of these technologies" -  \n'
 '\n'
 "We're not waiting around for justice to become profitable. #RecruitMeNot and "
 'raise the cost for gaslighting Black and Brown tech &amp; ethics workers.',
 "ðŸš¨ðŸš¨ðŸš¨ Don't cross picket lines! Workers are striking against Amazon and "
 'Instacart!!! ðŸš¨ðŸš¨ðŸš¨ https://t.co/Dy4YXWahPN',
 'We support those participating in #StrikeUberLyft and encourage all not to '
 "cross the picket line - don't open your apps today. It's a great day to get "
 'to know your local public transportation options, if available. '
 '#UberLyftStrike #NUMTOT https://t.co/eTM9Ak9h8j']